.form__input
    bgColor = #eeeeee;
    display: inline-block;
    width: 325px;
    padding: 9px 14px 10px 14px;
    font: 16px / 1 openSansLight;
    letter-spacing: 1px;
    color: primaryGrey;
    background-color: bgColor;
    border: none;
