h1.section__title,
h2.section__title
    font: 52px / 1 openSansLight;
    letter-spacing: 2px;
    color: primaryBlack;

h3.section__title
    font: 16px / 1 montserratBold;
    text-transform: uppercase;
    color: primaryBlack;