section.dist.section
    .dist__inner
        .container
            .wrapper
                .dist__row.dist__header
                    h3.dist__title Top destinations
                    span.dist__subtitle Some of the top destinations for your next summer adventure
                .dist__row.dist__main
                    .dist__col
                        .dist__article.article-dist
                            .article-dist__img-wrap
                                .article-dist__img( style="background: url( image/dist/2836119312_9e7800f56b_b.png ) no-repeat center / cover" )
                            .article-dist__cont
                                h4.article-dist__title Amazing Australia
                                .article-dist__text
                                    | Become inspired to travel to Australia. 
                                    | Discover fantastic things to do &amp places to go.
                    .dist__col
                        .dist__article.article-dist
                            .article-dist__img-wrap
                                .article-dist__img( style="background: url( image/dist/90081148_e7aa4157da_b.png ) no-repeat center / cover" )
                            .article-dist__cont
                                h4.article-dist__title Ancient South America
                                .article-dist__text
                                    | Become inspired to travel to South America. 
                                    | Discover fantastic things to do &amp places to go.
                    .dist__col
                        .dist__article.article-dist
                            .article-dist__img-wrap
                                .article-dist__img( style="background: url( image/dist/5262123684_6830a612eb_b.png ) no-repeat center / cover" )
                            .article-dist__cont
                                h4.article-dist__title Modern North America
                                .article-dist__text
                                    | Become inspired to travel to North America. 
                                    | Discover fantastic things to do &amp places to go.
                    .dist__col
                        .dist__article.article-dist
                            .article-dist__img-wrap
                                .article-dist__img( style="background: url( image/dist/5271818050_3b6e933bf0_b.png ) no-repeat center / cover" )
                            .article-dist__cont
                                h4.article-dist__title Classic Europe
                                .article-dist__text
                                    | Become inspired to travel to Europe. 
                                    | Discover fantastic things to do &amp places to go.