footer.footer   
    .footer__inner
        .container
            .wrapper
                .footer__row.footer__main
                    .footer__col.footer__copy.copy-footer
                        span.copy-footer__text 
                            | Copyright © 2014 Travelly. All Rights Reserved.
                            | Designed for Despreneur.
                    .footer__col.footer__nav.nav-footer
                        a.nav-footer__link(href="#") Home
                        a.nav-footer__link(href="#") About
                        a.nav-footer__link(href="#") Blog
                        a.nav-footer__link(href="#") Press
                        a.nav-footer__link(href="#") Contact

