section.hero.section
    .hero__inner
        .container
            .wrapper
                .hero__row.hero__header
                    header.header
                        .header__inner
                            .header__row
                                h1.logo travelly
                                .menu
                                    input(type="checkbox" id="menu").menu__check
                                    label(for="menu")
                                        span.menu__comp
                                        span.menu__comp
                                        span.menu__comp
                .hero__row.hero__main
                    h2.hero__next.section__title Where will you go next?
                    form.hero__field.field-hero.form
                        input(type="text", placeholder="Start typing ...").field-hero__input.form__input
                        button( type="submit" ).field-hero__btn.form__btn Go
                
                            