section.leav.section
    .leav__inner
        .container
            .wrapper
                .leav__row.leav__header.header-leav
                    h2.header-leav__title.section__title Before you leave
                .leav__row.leav__main.main-leav
                    .main-leav__col.main-leav__doc
                        h3.main-leav__title.section__title Visa &amp Documents
                        p.main-leav__text.section__text
                            | There are some things you should take
                            | care of before going to your next
                            | adventure. We’ll help you to get
                            | required visas and documents needed.
                    .main-leav__col.main-leav__accomm
                        h3.main-leav__title.section__title Accommodation
                        p.main-leav__text.section__text
                            | There are some things you should take
                            | care of before going to your next
                            | adventure. We’ll help you to get
                            | required visas and documents needed.
                    .main-leav__col.main-leav__transport
                        h3.main-leav__title.section__title Transportation
                        p.main-leav__text.section__text
                            | There are some things you should take
                            | care of before going to your next
                            | adventure. We’ll help you to get
                            | required visas and documents needed.
                .leav__row.leav__field.field-leav
                    h3.field-leav__title.section__title Get hottest deals to your inbox
                    form(action="").field-leav__form.form#form
                        input(type="text", placeholder="Email address").fielf-leav__input.form__input
                        button( type="submit" ).field-leav__btn.form__btn Subscribe

                

