.menu
    margin: 10px 0;

.menu__check
    display: none;

.menu__comp
    display: block;
    width: 24px;
    height: 3px;
    background-color: primaryWhite;

.menu__comp:not(:last-child)
    margin-bottom: 3px;
