.leav__inner
    @media( max-width 540px )
        padding: 11% 0 13% 0;

.header-leav__title
    @media( max-width 540px )
        margin-bottom: 9%;

.main-leav__col
    @media( max-width 540px )
        width: 100%;

.main-leav__col:not(:last-child)
    @media( max-width 540px )
        margin: 0 0 5%; 0;

.main-leav__title
    @media( max-width 540px ) 
        margin-bottom: 3%;

.field-leav__title
    @media( max-width 540px )
        margin-bottom: 3%;
        font-size: 14px;