@font-face 
  font-family: 'fontMontserratBold'; 
  src: url('fonts/montserrat-bold-webfont.woff2') format('woff2'),  
       url('fonts/montserrat-bold-webfont.woff') format('woff'); 

@font-face 
  font-family: 'fontMontserratRegular'; 
  src: url('fonts/montserrat-regular-webfont.woff2') format('woff2'),  
       url('fonts/montserrat-regular-webfont.woff') format('woff'); 

@font-face 
  font-family: 'fontOpenSansBold'; 
  src: url('fonts/opensans-bold-webfont.woff2') format('woff2'),  
       url('fonts/opensans-bold-webfont.woff') format('woff'); 

@font-face 
  font-family: 'fontOpenSansLight'; 
  src: url('fonts/opensans-light-webfont.woff2') format('woff2'),  
       url('fonts/opensans-light-webfont.woff') format('woff');

@font-face 
  font-family: 'fontOpenSansRegular'; 
  src: url('fonts/opensans-regular-webfont.woff2') format('woff2'),  
       url('fonts/opensans-regular-webfont.woff') format('woff');