doctype
html(lang="ru-Ru")
    head    
        meta( charset='utf-8' )
        meta( name="viewport", content="width=device-width, initial-scale=1" )
        title travelly
        meta( name="description", content="Travelly" )
        link(rel="stylesheet", href="../bower_components/normalize-css/normalize.css")
        link(rel="stylesheet", href="main.css")
    head
body.page
    include includes/hero.pug
    include includes/dest.pug
    include includes/leav.pug
    include includes/footer.pug