.copy-footer__text
    @media( max-width 540px )
        font-size: 10px;
    @media( max-width 345px )
        font-size: 8px;

.nav-footer__link
    @media( max-width 375px )
        font-size: 12px;

.nav-footer__link:not(:last-child)
    @media( max-width 375px )
        margin-right: 3%;