.leav__inner
    padding: 63px 0 79px;

.leav__header
    margin-bottom: 62px;

.header-leav__title
    margin-left: -4px;

.leav__main
    margin-bottom: 73px;

.leav__main::after
    content: '';
    display: block;
    clear: both;

.main-leav__col
    float: left;
    width: 29%;

.main-leav__col:not(:last-child)
    margin-right: 62px;

.main-leav__title
    margin-bottom: 11px;

.main-leav__text
    font-size: 16px;

.leav__field
    text-align: center;

.field-leav__title
    margin-bottom: 25px;