.leav__inner
    padding: 77px 0 79px;

.header-leav__title
    margin: 0 0 60px -4px;

.leav__main
    margin-bottom: 73px;

.main-leav__col
    display: inline-block;
    width: 29%;
    text-align: left;

.main-leav__col:not(:last-child)
    margin-right: 6.2%;

.main-leav__title
    margin-bottom: 11px;
    font: 16px / 1 montserratBold;
    text-transform: uppercase;
    color: primaryBlack;

.main-leav__text
    font-size: 16px;

.leav__field
    text-align: center;

.field-leav__title
    margin-bottom: 27px;
    font: 16px / 1 montserratBold;
    text-transform: uppercase;
    color: primaryBlack;