.hero
    background: url( 'image/hero/8309058736_7def17e39e_o.png' ) no-repeat top center / cover;

.hero__inner
    padding-top: 24px;

.hero__main
    padding: 21.2% 0 20.5% 0;
    text-align: center;

h2.hero__next
    margin-bottom: 31px;
    color: primaryWhite;

.field-hero__input
    background-color: primaryWhite;

.field-hero__btn
    padding: 11px 46px 12px 46px;