openSansBold = 'fontOpenSansBold';
openSansLight = 'fontOpenSansLight';
openSansRegular = 'fontOpenSansRegular';
montserratBold = 'fontMontserratBold';
montserratRegular = 'fontMontserratRegular';

primaryWhite = #fff;
primaryGrey = #696969;
primaryBlack = #323232;