.header-leav__title
    @media( max-width 768px )
        margin-bottom: 10%;

.leav__main
    @media( max-width 768px )
        margin-bottom: 9%;

.main-leav__title
    @media( max-width 768px )
        margin-bottom: 6%;

.main-leav__text
    @media( max-width 768px )
        font-size: 14px;