*
    padding: 0;
    margin: 0;
    box-sizing: border-box;

.page
    font: 15px / 22px openSansLight;
    word-spacing: 1px;
    color: primaryGrey;

.container
    max-width 1032px;
    width: 95%;
    margin: 0 auto;

.wrapper
    padding: 0 16px;

h1,
h2,
h3,
h4,
h5,
h6
    margin: 0;
    font-style: normal;

ul
    li
        list-style: none;

a
    text-decoration: none;