.footer__main
    @media( max-width 1024px )
        text-align: center;

.footer__copy
    @media( max-width 1024px )
        width: 100%;
        margin-bottom: 1.6%;

.footer__nav
    @media( max-width 1024px )
        width: 100%;   